* {
  -webkit-box-sizing: border-box;
}

  .top {
  background-color: #ffff99;
  border: 2px solid #ffff00;
  margin: 2px;
  height: 150px;
}

.middle {
  display: inline-block;
  height: 350px;
  width: 20%;
}

.centre {
  width: 50%;
}
